html{
    font-family: 'Open Sans','sans-serif';
}

#sidebar{
    position: fixed;
    width: 300px;
    background-color:rgb(17, 117, 60) ;
    height: 100%;
    padding-top: 40px;
}

.sidebar-container{
    position: relative;
    width: 200px;
    margin: 0 auto;
}

.sidebar-container h1{
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;

}

#sidebar li{
    padding: 20px;
}

.sidebar-container a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.logo-doceria{
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin: 0 auto;
   
}

/* conteudo */

/* primeira sessao */

.content{
    position: absolute ;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1, .content h2{
    color:rgb(17, 117, 60) ;
    margin-bottom: 30px;
}

.content h2{
    font-size: 48px;
}
.content h3{
    font-size: 32px;
    color:#289108 ;
}

section{
    padding-left: 50px;
}

/* sessao bem vindo */
#sessao-bemvindo{
    padding-left: 0;
}

.sessao-bemvindo-content{
    padding-left: 50px;
}

#sessao-bemvindo .banner{
	height: 500px;
	background-image: url(../img/banner.jpg);
	background-position: center;
	background-size: cover;
}

#sessao-bemvindo h2{
    margin-top: 70px;
}